*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
}

#wrapper {
    width: 70vw;
    height: 90vh;
    display: flex;
    margin: 0 auto;
}

#right {
    background-image: url('../images/blueprint.png');
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
}


#left {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgba(238,238,238);
}

.header{
    width: 100%;
}

.header text {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    fill: currentColor;
}

.info {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

#nav {
    list-style: none;
    display: flex;
    margin-top: 30px;
}

#nav li {
    border-radius: 5px;
    border: solid rgba(238,238,238) 1px;
    padding: 7px 25px 7px 25px;
}

#nav a {
    color: rgba(238,238,238);
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-right: 10px;
}

#nav a:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

.footer {
    color: rgb(90, 90, 90);
    font-family: 'Exo 2', sans-serif;
    font-variant: small-caps;
    text-align: center;
}

.footer a {
    color: rgb(90, 90, 90);
}

@media only screen and (max-width: 1450px) {

    #nav a {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1250px) {

    #nav a {
        font-size: 1.0em;
    }

    #right {
        background-size: contain;
    }
}

@media only screen and (max-width: 900px){

    body {
        background-color: rgb(56, 0, 0);
    }

    #right {
        width: 0%;
    }

    #left {
        width: 100%;
    }

    #nav a {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 700px){
    #nav {
        flex-direction: column;
    }
    
    #nav a {
        margin-top: 10px;
    }
}