#wrapper {
    width: 70vw;
    display: flex;
    margin: 0 auto;
    color: rgba(238,238,238);
    font-family: 'Exo 2', sans-serif;
    text-align: justify;
}

#privacypolicies {
    margin-top: 30px;
    line-height: 22px;
}

#privacypolicies hr {
    margin: 20px 0px;
}

#privacypolicies h1 {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 900;
}

#privacypolicies h1.page-header {
    font-size: 3em;
    margin-bottom: 0.65em;
    margin-top: 0.5em;
}

#privacypolicies h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: 700;
}

#privacypolicies a {
    color: white;
}

#privacypolicies ul {
    margin-left: 15px;
    list-style-type: square;
}

